<section class="section">
  <div class="container">
    <h1 class="title"><strong>Article Results</strong></h1>
    <div id="scrape-results"></div>
  </div>
</section>

<script src="/assets/js/index.js"></script>
