<div class="section">
  <div class="container">
    <h1 class="title"><strong>Saved Articles</strong></h1>
    <div id="saved-results"></div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade bd-modal-lg" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="comment-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div id="comments-list">
        <p>Write the first comment for this article.</p>
      </div>
       <div>
        <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Comment Here:</span>
  </div>
  <textarea id="new-comment-field" class="form-control" aria-label="With textarea"></textarea>
</div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-comment">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/saved.js"></script>
