.navbar {
	background-color: #4C85C5;
	height: 75px;
}

li {
	color: white;
}

.jumbotron {
	background-color: rgba(238, 238, 238, 0.45);
	background-image: url("/assets/img/background.jpg");
	background-size: cover;
	background-blend-mode: color;
}

.card {
	margin-bottom: 10px;
}

.card-header {
	background-color: black;
	color: white;
}

.card-body {
	background-color: #F15B1C;
	color: white;
}

.comments-button {
	margin-right: 5px;
}

#saved-results{
	margin-bottom: 100px;
}

footer {
	width: 100%;
	bottom: 0;
	background-color: #007bff;;
	color: white;
	padding: 10px;
}
